<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style/flexbox.css">
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <ul>
        <li>Inicio</li>
        <li>Acerca de</li>
        <li>Contacto</li>
        <li>Página 1</li>
        <li>Página 2</li>
      </ul>
    </div>
    <div class="content">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/8.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/9.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/11.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/12.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/13.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/14.png">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/15.png">
    </div>
  </div>
</body>
</html>