<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/m2_l4.css">
  <title>Document</title>
</head>
<body>
  
  <h1 id="header">
    Mi Página Web 😎
  </h1>

  <div id="banner"></div>

  <div class="container">
    <!-- MENU -->
    <div class="menu">
      <ul>
        <li>
          <a href="#">Inicio</a>
        </li>
        <li>
          <a href="#">Acerca</a>
        </li>
        <li>
          <a href="#">Contacto</a>
        </li>
        <li>
          <a href="#">Redes Sociales</a>
        </li>
      </ul>
    </div>

    <!-- CONTENIDO PRINCIPAL -->
    <div class="content">
      <h2>Subtítulo</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur repellat nostrum eveniet quae dolor ex error architecto, quidem cum odio maxime veniam repudiandae eum, ab suscipit nobis, nemo velit? Modi!</p>
    </div>

    <!-- CONTENIDO EXTRA-->
    <div class="extra">
      <h3>Nombre</h3>
      <p>Mario Marín</p>
      <h3>Clase</h3>
      <p>Fundamentos de Programación Web</p>
      <h3>Actual</h3>
      <p>Módulo 2 "CSS"</p>
    </div>
  </div>

  <footer>
    <i>
      ¡Gracias por visitar mi página!
    </i>
  </footer>

</body>
</html>